<div class="row">
	<div class="col-md-12">
		<h2>
			About project page
		</h2>
		<hr />
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit turpis, sagittis nec lorem sit amet, lacinia ornare tellus. Ut ligula arcu, convallis et ante eget, tempor vestibulum massa. Nunc eu faucibus libero, nec mollis nulla. Nunc condimentum magna dui, non posuere ex imperdiet sed. Praesent vestibulum sollicitudin lectus, semper suscipit erat iaculis nec. Etiam imperdiet facilisis rutrum. Pellentesque augue tortor, maximus molestie augue ut, malesuada dapibus est. Maecenas pretium ac lacus eu feugiat. Nulla non eleifend dui. Aliquam ac metus quis velit vulputate molestie. Aliquam aliquam ullamcorper orci, vel convallis est iaculis eget. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis nec nibh sapien. Morbi vel posuere augue. Morbi at iaculis nisl.
		</p>
	</div>
</div>